extends layout

block content
  section.hero.is-fullheight.fold
      .hero-body
        .container.has-text-centered
          h1.title Schedule The Perfect Social Media Campaign
          p Create conversations by deciding when and who publishes your message
          br
          a.button.is-primary.is-large.is-expanded.check-prices CHECK OUR PRICES
          br
          br
          a Watch the video
  section.section test
  section.section test
  section.section test
  section.section test
  section.section test
  section.section test
  section.section test