extends layout

block content
  section.hero.is-fullheight.fold
      .hero-body
        .container.has-text-centered
          h1.title Schedule the perfect social media campaign
          p Decide when and who sends out what message
          br
          a.button.is-primary.is-large.is-expanded CHECK OUR PRICES
          br
          br
          a Watch the video