extends layout

block content
  section.hero.is-fullheight.fold
      .hero-body
        .container.has-text-centered
          h1 Schedule The Perfect Social Media Campaign
          p Maximize your team's social reach and create conversations
          br
          a.button.is-primary.is-large.is-expanded.check-prices(href="#prices") CHECK OUR PRICES
          br
          br
          a Watch the video
  section#prices.section.hero
    .hero-body
      .container.has-text-centered
        h1 Killer Prices,
          br
          | Yearly Subscription
        br
        br
        .columns.prices
          .column.is-half
            .box
              h3 Startup
              br
              p Single Company
              .price $100
                small /year
              br

              form(action='/register/startup', method='POST')
                script.stripe-button(src='https://checkout.stripe.com/checkout.js', data-key='#{config.payment.stripe.public_key}', data-amount='10000', data-name='Gethoneybadger', data-description='Widget', data-image='https://stripe.com/img/documentation/checkout/marketplace.png', data-locale='auto')
          .column.is-half
            .box
              h3 Marketer
              br
              p Multiple Companies
              .price $500
                small /year
              br
              form(action='/register/marketer', method='POST')
                script.stripe-button(src='https://checkout.stripe.com/checkout.js', data-key='#{config.payment.stripe.public_key}', data-amount='50000', data-name='Gethoneybadger', data-description='Widget', data-image='https://stripe.com/img/documentation/checkout/marketplace.png', data-locale='auto')
  section.section.has-border-bottom-grey
    .container.has-text-centered
      h1 Schedule Everything
      br
      p Schedule the the person and when the message should be sent out. Create pre-scheduled conversations on every social network.
      br
      a Watch the video
      .instant-sketch
        span.lend
          strong schedule
          | messages
        span.borrow
          strong send
          | everyone


  section.section test
  section.section test
  section.section test
  section.section test
  section.section test