<div class="hero is-info is-fullheight">
    <div class="hero-head">
        <div class="container has-text-centered">
            <h1 class="title">Getting Started</h1>
            <div class="tabs is-centered">
                <ul>
                    <li><a>1. Create a Company</a></li>
                    <li><a @click="step=1">2. Connect Accounts</a></li>
                    <li><a>3. Invite Members</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="step" :class="{'is-active': step == 0}">
                <h1 class="title">What is your company name?</h1>
                <form @submit.prevent="handle_next">
                    <p class="control has-addons has-addons-centered">
                        <input v-model="company_name" class="input is-large" type="text" placeholder="Company name">
                        <button class="button is-large" type="submit">Next</button>
                    </p>

                    <div v-for="error in errors" class="notification is-danger">
                        {{error.msg}}
                    </div>

                </form>
            </div>
            <div class="step" :class="{'is-active': step == 1}">
                <h1 class="title">Connect your Social Accounts</h1>
                <div class="columns is-multiline is-centered social-connect">
                    <div class="column">
                        <a href="/auth/o/twitter" class="button is-primary is-inverted is-large">
                            <span class="icon">
                                <i class="fa fa-twitter"></i>
                            </span>
                            <span>Connect your Twitter Account</span>
                        </a>
                    </div>
                    <div class="column">
                        <a href="/auth/o/facebook" class="button is-primary is-inverted is-large">
                            <span class="icon">
                                <i class="fa fa-facebook"></i>
                            </span>
                            <span>Connect your Facebook Account</span>
                        </a>
                    </div>
                    <div class="column">
                        <a href="/auth/o/linkedin" class="button is-primary is-inverted is-large">
                            <span class="icon">
                                <i class="fa fa-linkedin"></i>
                            </span>
                            <span>Connect your Linkedin Account</span>
                        </a>
                    </div>
                </div>
                <button @click="handle_next" class="button is-primary is-inverted is-large" type="submit">Next</button>
            </div>
            <div class="step" :class="{'is-active': step == 2}">
                <h1 class="title">Invite your co-workers to <span class="capitalize">{{$store.state.currentUser._activeCompany.name}}</span></h1>
                <form @submit.prevent="handle_send_invitations" class="email-invites">
                    <div class="columns is-centered">
                        <div class="column is-6">

                            <div v-for="worker in workers" class="control is-grouped">
                                <p class="control is-expanded">
                                    <input v-model="worker.email" class="input is-large" type="email" placeholder="email">
                                </p>
                                <p class="control is-expanded">
                                    <input v-model="worker.name" class="input is-large" type="text" placeholder="name *optional">
                                </p>
                            </div>

                            <!--<input v-for="worker in workers" v-model="worker.email" class="input is-large is-expanded" type="text" placeholder="name@domain.com">-->
                            <a @click="handle_add_worker" class="button is-warning is-outlined is-medium is-pulled-right">+ Add another invitation</a>
                        </div>
                    </div>
                    <button class="button is-inverted is-primary is-large" type="submit">Send Invitations</button>
                </form>
            </div>
        </div>
    </div>
</div>