.title.blue, .subtitle.blue {
  color: $blue;
}

.grey {
  color: $deep_gray;
}

.outline {
  border: 1px solid $grey;
  padding: 40px;
}
.profile_image {
  @extend .image;
  @extend .is-round;
  background-color: white;
}

.image.is-centered {
  margin: 0 auto;
}

.file-upload:hover {
  cursor: pointer;
}

.employee-list {
  .media {
    height: 100%;
    align-items: center;
  }
  .media-left {
    margin: auto 20px auto 0;
  }
  .media-content {
    margin: auto;
    .title {
      pading: 0;
      font-size: 1.125em;
      font-weight: 700;
      margin-bottom: 10px;
    }

    .grey {
      color: #ADA8B3;
    }
  }

  a.box:hover {
    box-shadow: 0 1px 3px rgba(17, 17, 17, 0.1), 0 0 0 2px $primary;
  }

  .employee {
    position: relative;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;

    .image {
      background-color: white;
    }

    &.selected::before {
      font-family: "Ionicons";
      position: absolute;
      top: 3px;
      right: 5px;
      content: "\f122";
      color: white;
      z-index:99;
    }

    &.selected::after {
      position: absolute;
      top: 0;
      right: 0;
      content: "";
      border-style: solid;
      border-width: 0 50px 50px 0;
      border-color: transparent $blue transparent transparent;
    }
  }

}