@mixin circle($size) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - #{$size/2});
  top: calc(50% - #{$size/2});
  width: $size;
  height: $size;
}

$size: 150px;
.progress-pie-chart {
  display: inline-block;
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: $blue-light;
  position: relative;
  &.gt-50 {
    background-color: $blue;
  }
}
.ppc-progress {
  @include circle($size);
  clip: rect(0, $size, $size, #{$size/2});
  .ppc-progress-fill {
    @include circle($size);
    clip: rect(0, #{$size/2}, $size, 0);
    background: $blue;
    transition: transform .5s ease;
  }
  .gt-50 & {
    clip: rect(0, #{$size/2}, $size, 0);
    .ppc-progress-fill {
      clip: rect(0, $size, $size, #{$size/2});
      background: $blue-light;
    }
  }
}
.ppc-percents {
  @include circle(#{$size/1.15});
  background: $grey-lightest;
  text-align: center;
  display: table;
  span {
    display: block;
    font-size: 1.0em;
    font-weight: bold;
    color: $blue;
  }
}
.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}



$size-small: 100px;
.progress-pie-chart-small {
  margin-top: 10px;
  width: $size-small;
  height: $size-small;
  border-radius: 50%;
  background-color: $blue-light;
  position: relative;
  &.gt-50 {
    background-color: $blue;
  }
}
.ppc-progress-small {
  @include circle($size-small);
  clip: rect(0, $size-small, $size-small, #{$size-small/2});
  .ppc-progress-fill {
    @include circle($size-small);
    clip: rect(0, #{$size-small/2}, $size-small, 0);
    background: $blue;
    transform: rotate(60deg);
  }
  .gt-50 & {
    clip: rect(0, #{$size-small/2}, $size-small, 0);
    .ppc-progress-fill {
      clip: rect(0, $size-small, $size-small, #{$size-small/2});
      background: $blue-light;
    }
  }
}
.ppc-percents-small {
  @include circle(#{$size-small/1.15});
  background: #fff;
  text-align: center;
  display: table;
  span {
    font-size: .8em;
    color: $blue;
    font-weight: bold;

    &.day {
      font-weight: 300;
    }
    &.current {
      font-size: 1.2em;
    }
    &.total {
      font-size: .7em;
    }
  }


}