#wizard {
  display: none;

  #pip_wizard_box .box.step { display: none; }
  #pip_wizard_box .box.step.active { display: block; }

  .section.actions {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: 20px;
    z-index: 1;
  }

  .hero-body {
    padding: 30px 20px;
  }

  .sub-progress i:hover { cursor: pointer;}

  .step.box {
    background-color: white;
  }

  .profile-box {

    .image {
      width: 60px; 
      height: 60px;
    }

    .profile-subtitle {
      margin: 0px;
      font-size: 1em;
      padding-top: 10px;
      word-wrap: break-word;
    }

    padding-top: 20px;
    padding-bottom: 30px;

    margin-top: 20px;
  }  


  .maya {
    position: absolute;
    transition: linear 1s;
    width: 100%;
    top: 30%;

    .title {
      font-size: 1.5rem;
    }

    .card {
      position: relative;
      border-radius: 3px;
      box-shadow: 0px 0px 0px 4px transparentize($green, .7);

      &:before, &:after {
        top: 100%;
        left: 14%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after {

        border-top-color: white;
        border-width: 15px;
        margin-left: -15px;
      }

      &:before {

        border-top-color: transparentize($green, .7);
        border-width: 20px;
        margin-left: -20px;
      }
    }

    .maya-img {
      position: absolute;
      bottom: -90px;
      left: 14%;
      width: 64px;
      margin-left: -32px;
    }

    .card-header {
      background-color: transparentize($green, .7);
      box-shadow: none;
    }

    .card-header-title {
      color: $green;
    }
  }

  .is-maya {
    border-radius: 3px;
    box-shadow: 0px 0px 0px 4px transparentize($green, .7);
  }

  input {
    padding: 22px 20px;
  }

  .has-icon .input {
    padding-left: 40px;
  }

  .control.has-icon .input.is-medium + .fa, .control.has-icon .is-medium.textarea + .fa {
    top: 12px;
  }    

  form {
    .title {
      padding: 10px;
      margin-top: 0px;
    }
    .subtitle {
      padding-bottom: 10px;
    }
  }

  .box.upload {
    background-color: white;
    margin: 40px;
    padding: 40px;
    border: 1px solid $grey;

    .table td {
      vertical-align: middle;
    }
  }

  .sub-progress {
    i {
      color: $blue;
    }
  }

  .draft-button {
    padding-top: 0px;
  }

  p.subtitle.grey {
    margin-bottom: 30px;
  }

  .add-more-button {
    color: $blue;
  }

  .next-button {
    margin-top: 20px;
  }

  .repeatable {
    padding-bottom: 20px;
  }

  .repeatable + .repeatable {
    padding-top: 30px;
  }

  .profile {
    min-width: 190px;
    .title {
      font-size: 1.25em;
    }

    .image {
      display: inline-block;
      background-color: white;
    }

    hr {
      margin: 30px 10px;
      border-top: 2px solid white;
    }
  }

  .input.is-medium, .select.is-medium select, .textarea {
    font-size: 1em;
    font-weight: 400;
  }

  .select {
    &.is-medium {
      height: 48px;
    }

    select {
      height: 48px;
    }
  }


  .button.is-primary {
    margin-bottom: 5px;
  }

  .content {

    .title {
      font-size: 2em;
      font-weight: 400;
      line-height: 1.4em;
    }

    .subtitle {
      font-size: 1.3em;
      &.grey{
        color: $grey-darker;
      }
    }

    small {
      font-size: .8em;
    }
  }

  #pip_preview {
    padding-top: 50px;

    .container {
      h4.title {
        font-size: 1.10em;
        font-weight: 600;
      }

      h5.title {
        font-size: 1em;
        font-weight: 600;
      }

      strong {
        font-weight: 600;
      }

      .subtitle + .title {
        margin-top: 0;
      }

      p.subtitle {
        font-size: 1em;
        font-weight: 400;
      }
    }

  }

  .sign-area {

    .tile {
      flex-basis: 0;
    }

    .signature {
      font-family: Damion;
      padding: 10px;
      &.is-large {
        font-size: 2em;
        top: -40px;
      }
    }

    .line {
      border-top: 2px solid $primary;
    }
  }
}

.wizard-hero {
  @extend .hero;
  background-color: $grey-lightest;
  color: $blue;

  .hero-body {
    .title {
      color: $blue;
    }
  }
}

.wizard-tabs {
  @extend .tabs;
  overflow: visible;
  background-color: $grey-lightest;
  color: $blue;
  position: relative;

  .progress {
    position: absolute;
    height: 10px;
    background-color: $blue;
    width: 0;
    display: none;
  }

  ul {
    li {
      padding: 14px;
      margin-top: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom: 2px solid $grey;
      position: relative;

      .checkmark {
        position: absolute;
        bottom: -6px;
        left: 0;
        right: 0;
        margin: auto;
        height: 20px;
        z-index: 99;
        font-size: 34px;
        color: $blue;
        display: none;

        &::before {
          background-color: white;
          border-radius: 50%;
          padding: 0 3px;
        }

      }

      .circle {
        position: absolute;
        bottom: -6px;
        left: 0;
        right: 0;
        margin: auto;
        height: 20px;
        z-index: 99;
        font-size: 34px;
        color: $grey;


        &::before {
          background-color: white;
          border-radius: 50%;
          padding: 0 3px;
        }
      }

      &.is-active {
        background-color: white;
        border-bottom-color: $blue;
        a{
          color: $blue;
        }

        .circle {
          color :$blue;
        }
      }

      a {
        color: $grey;
        border: 0;
      }

      a:hover {
        color: $grey;
      }

      &.is-complete {
        a {
          color: $blue;
        }
        border-bottom-color: $blue;

        .checkmark {
          display: block;
        }
        .circle {
          display: none;
        }
      }

      &.is-inprogress {
        a {
          color: $blue;
        }

        border-bottom-color: $blue;

        .circle {
          color: $blue;
        }
      }

      &.is-active.is-inprogress {
        a {
          color: $blue;
        }

        border-bottom-color: $blue;
      }

      &.is-active.is-complete {
        .checkmark {
          display: block;
        }
      }

    }
  }

  @include mobile {
    font-size: .6em;

    ul li {
      padding: 2px;
    }
  }

  @include tablet {
    font-size: .7em;

    ul li {
      padding: 6px;
    }

  }

  @include desktop {
    font-size: .80em;

    ul li {
      padding: 10px;
    }

  }

  @include widescreen {
    font-size: 1.0em;

    ul li {
      padding: 14px;
    }
  }

}