<modal :show.sync="show">
  <div slot="content" class="box has-text-centered modal-add-employee" id="modal-add-employee">
    <div class="container">
      <h3 class="title">How would you like to import your employee list?</h3>
      <p class="subtitle">Select one of the options below</p>
      <br>
      <a href="/dashboard/employee/wizard{{redirect ? '?redirect=' + redirect : ''}}" class="button is-primary is-outlined is-medium">Add One Employee</a>

      <div class='sep'>
        ----
        or
        ----
      </div>

      <div class='columns is-centered import-buttons' style='width: 100%; text-align: center;'>
        <div>
          <a href="#" class="box import-button  column" @click="handle_modal('adp')">
            <p class='top'>Integrate</p>
            <p class='bottom'>HRIS</p>
          </a>
          <a href="#" class="box import-button column" @click="handle_modal('csv')">
            <p class='top'>Upload .csv</p>
            <p class='bottom'>
              <img src="/assets/images/CSV_icon.svg" style="width: 30px; position: relative; top: 5px;">
            </p>
          </a>
        </div>
      </div>
      <hr class="clear">
      <div class="subtext">
        <p>*HRIS supported integrations: ADP, Bamboo HR, Gusto, fairsail, Zenefits, Namely & More</p>
      </div>
    </div>


    <modal :show.sync="modal.csv">
      <div slot="content" class="box has-text-centered modal-add-employee">
        <div class="container" class="steps has-text-centered">
          <h3 class="title" style="margin-bottom: 30px;">Upload CSV file</h3>

          <form method="POST" enctype="multipart/form-data" action="/dashboard/my/employees/import{{redirect ? '?redirect=' + redirect : ''}}">
            <p><input type="file" name="csv_file" class="input" style="width: 300px; height: 40px; padding: 10px;"></p>
            <p style="margin-top: 40px;"><button class="button is-primary">Upload</button></p>
          </form>
        </div>
      </div>
    </modal>

    <modal :show.sync="modal.adp">
      <div slot="content" class="box has-text-centered modal-add-employee">
        <div class="container" class="steps">
          <h3 class="title" style="margin-bottom: 30px;">Integrate with ADP</h3>
          <p><button @click="handle_connect_adp" class="button is-primary">Connect to ADP</button></p>

        </div>
      </div>
    </modal>

  </div>
</modal>