<div v-if="content" class="maya" >
    <div class="card is-fullwidth" transition="fade-in">
        <header class="card-header">
            <p class="card-header-title title">
                {{ content.title }}
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <p>
                    {{ content.body }}
                </p>
            </div>
        </div>
    </div>
    <slot></slot>
    <img class="maya-img" src="/assets/images/maya.svg" style="width: 64px" />
</div>