<div class="has-text-centered profile content">
  <div class='box profile-box'>
    <div class="image round is-96x96 is-round">
      <img style="min-width: 48px;" class="round" src="{{ user.avatar_url || '/assets/images/woman_1.svg' }}" />
    </div>
    <h3 v-if="showemail" class="profile-subtitle">{{ user.email | break_email }}</h3>
    <h3 class="profile-subtitle">{{ user.first_name + ' ' +user.last_name | capitalize }}</h3>
    <p class="profile-subtitle grey" style="margin-top: -5px;">{{user.title}}</p>

    <hr v-bind:class="[hidechart==true ? 'is-hidden' : '']">
    <div class="progress-pie-chart" v-bind:class="[hidechart==true ? 'is-hidden' : '']">
        <div class="ppc-progress">
            <div class="ppc-progress-fill"></div>
        </div>
        <div class="ppc-percents">
            <div class="pcc-percents-wrapper">
                <span>%</span>
            </div>
        </div>
    </div>
  </div>
</div>

