<div style="height: 500px; border: 1px solid #f0f0f0; overflow: hidden; overflow-y: scroll; margin-top: -30px; margin-bottom: 30px; padding: 30px;">
  <div class="has-text-centered">
    <h3 class="title">
      Review and Sign {{pip.employee.first_name}}'s performance plan
    </h3>
    <p class="subtitle grey">
      <small>Your employee will not receive the performance plan until the performance plan has been approved and signed</small>
    </p>
  </div>

  <hr />

  <div class="container">
    <h4 class="title">Overview</h4>
    <p class="subtitle grey">
      The purpose of this bambee performance plan is to define serious areas of concern, gaps in your work performance, reiterate {{company.name}}’s expectations, and give you the opportunity to demonstrate improvement and commitment. The contents of this performance plan should remain confidential.
    </p>
  </div>
  <hr>
  <div class="container">
    <h4 class="title">Performance Concerns</h4>

    <h5 class="title">Primary concern:</h5>
    <p class="subtitle grey">{{pip.performance_concerns_type}}</p>

    <div v-for="(i, item) in pip.occurrence_details_json">
      <h5 class="title">Occurrence #{{ i+1 }}:</h5>
      <p class="subtitle grey">{{ item.date }} {{ item.time }}</p>

      <template v-if="item.verbal_confirmation">
        <h5 class="title">Verbal note:</h5>
        <p class="subtitle grey">{{ item.verbal_notes }}</p>
      </template>
    </div>
  </div>

  <hr>

  <div class="container">
    <h4 class="title">Improvement Goals</h4>
    <div v-for="(i, item) in pip.performance_expectations_json">
      <h5 class="title">Goal #{{ i+1 }}:</h5>
      <p class="subtitle grey">{{ item.text }}</p>
    </div>
  </div>

  <hr>

  <div class="container">
    <h4 class="title">Strategy for Improvement</h4>
    <div v-for="(i, item) in pip.suggested_strategies_json">
      <h5 class="title">Strategy #{{ i+1 }}:</h5>
      <p class="subtitle grey">{{ item.text }}</p>
    </div>
  </div>

  <hr>

  <div class="container">
    <h4 class="title">Consequences</h4>
    <div v-for="(i, item) in pip.consequences_json">
      <h5 class="title">Consequence #{{ i+1 }}:</h5>
      <p class="subtitle grey">{{ item.type }} <span v-if="item.info">/ {{ item.info }}</span></p>
    </div>
  </div>

  <hr>

  <div class="container">
    <h4 class="title">Duration & Terms</h4>
    This bambee performance plan will last {{pip.duration}} days from your signed confirmation. Please sign and confirm this agreement by end of business day tomorrow.
  </div>

  <hr>

  <div class="container">
    <h4 class="title">Follow Up Schedule</h4>
    {{ pip.followup_schedule | snake_to_human | capitalize }}
  </div>

  <hr>

  <div class="container">
    <h4 class="title">Signatures</h4>

    <div class="tile is-ancestor sign-area">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <h5 class="title">Manager</h5>
          <article class="tile is-child">
            <span class="text signature is-large">&nbsp;{{pip.manager_signature_text}}</span>
            <div class="line">
              Signature
            </div>
          </article>
          <article class="tile is-child">
            <span class="text">&nbsp;{{pip.manager_signature_text}}</span>
            <div class="line">
              Print Name
            </div>
          </article>
          <article class="tile is-child">
            <span class="text">&nbsp;{{pip.manager_signed_at | date}}</span>
            <div class="line">
              Date
            </div>
          </article>
        </div>
        <div class="tile is-parent is-vertical">
          <h5 class="title">Employee</h5>
          <article class="tile is-child">
            <span class="text signature is-large">&nbsp;{{pip.employee_signature_text}}</span>
            <div class="line">
              Signature
            </div>
          </article>
          <article class="tile is-child">
            <span class="text">&nbsp;{{pip.employee_signature_text}}</span>
            <div class="line">
              Print Name
            </div>
          </article>
          <article class="tile is-child">
            <span class="text">&nbsp;{{pip.employee_signed_at | date}}</span>
            <div class="line">
              Date
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>